<div id="photos" class="row">
  <%= render 'photos/list' %>
</div>

<div id="content_main" class="row">

  <div class="col-md-8">

    <div id="primary" class="wrapper">

      <p><%= @property.full_address %></p>

      <p>
        <ul class="list-inline">
          <li>
            <i class="fa fa-bed"></i>
            <%= @property.bedrooms %>
          </li>

          <li>
            <i class="fa fa-male"></i><i class="fa fa-female"></i>
            <%= @property.bathrooms %>
          </li>

          <li>
            <i class="fa fa-car"></i>
            <%= @property.car_spaces %>
          </li>

          <li>
            <%= @property.property_type %>
          </li>
        </ul>
      </p>

      <div>
        <p>
          <%= @property.description %>
        </p>
      </div>

    </div>

  </div>

  <div class="col-md-4">

    <div id="secondary" class="wrapper">

      <ul>

        <li>
          <%= link_to 'Edit', edit_property_path(@property.id) %>
        </li>

        <li>
          <%= link_to 'Print' %>
        </li>

        <li>
          <%= link_to 'Save' %>
        </li>

        <li>
          <%= link_to 'Send to a Friend' %>
        </li>

      </ul>

    </div>

  </div>

</div>