<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><strong>Apartmentsify</strong></a>

    </div>
    <div id="navbar" class="navbar-collapse collapse">





      <ul class="nav navbar-nav navbar-right">

        <% if(!user_signed_in?) %>

          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>

        <% else %>

          <% if current_user.landlord? %>

            <li class="navbar-text navbar-left">
              <%= current_user.role.titleize %> Portal <i class="fa fa-chevron-circle-right fa-lg"></i>
            </li>

            <li>
                <%= link_to landlord_properties_path(current_user.id) do %>
                  <i class="fa fa-home fa-lg"></i> My Properties
                <% end %>
            </li>

          <% else %>
            <li>
                <%= link_to landlord_become_path(current_user.id) do %>
                  <i class="fa fa-home fa-lg"></i> Become a Landlord
                <% end %>
            </li>

          <% end %>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp;
              <%= current_user.fullname %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">

              <li>
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa fa-user fa-lg"></i> My Profile
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-lg"></i> Log Out
                <% end %>
            </ul>

          </li>

        <% end %>

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>