<% if @photos %>

  <div class="col-md-12">

    <div class="carousel slide article-slide" id="article-photo-carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner cont-slider">

        <% @photos.each do |photo| %>

          <%= content_tag :div,
                          class: @photos.index(photo) == 0 ? 'item active' : 'item' do %>
            <%= image_tag photo.image.url(), alt: "", title: "" %>
          <% end %>

        <% end %>

      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators">

        <% @photos.each do |photo| %>

          <li class="<%=@photos.index(photo) == 0 ? 'active' : ' ' %>"
              data-slide-to="<%= @photos.index(photo) %>"
              data-target="#article-photo-carousel">

            <%= image_tag photo.image.url() %>

          </li>

        <% end %>

      </ol>
    </div>
  </div>

  <script>
    $('.carousel').carousel({
      interval: false
    });
  </script>

<% end %>